# This rule is not used by the project loongcollector-operator itself.
# It is provided to allow the cluster admin to help manage permissions for users.
#
# Grants full permissions ('*') over infraflow.co.infraflow.
# This role is intended for users authorized to modify roles and bindings within the cluster,
# enabling them to delegate specific permissions to other users or groups as needed.

apiVersion: rbac.authorization.k8s.io/v1
kind: ClusterRole
metadata:
  labels:
    app.kubernetes.io/name: loongcollector-operator
    app.kubernetes.io/managed-by: kustomize
  name: agentgroup-admin-role
rules:
- apiGroups:
  - infraflow.co.infraflow
  resources:
  - agentgroups
  verbs:
  - '*'
- apiGroups:
  - infraflow.co.infraflow
  resources:
  - agentgroups/status
  verbs:
  - get
